<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/css/home.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
		<title>eCommerce Hack Day | August 4th + 5th | NYC</title>
		<link href="" />
	</head>
	
	<body>
		<div>
			<a href="/" id="logo"><img src="/assets/images/ecommerce-hack-day.png" /></a>

			<div class="content">				
				<div class="info">
					<p>August 4th + 5th | Hosted by <a href="http://hatchery.vc"><img src="/assets/images/logos/hatchery.png" alt="The Hatchery" style="position: relative; top: 6px;" /></a> in New York City</p>

					<div class="info">
						<p>Closing page...</p>
					</div>
				</div>
			</div>

			<div id="footer">
				<a href="mailto:alext@dwolla.com">Questions?</a>  &bull;  <a href=" https://twitter.com/#!/ecommercehackny">@ecommercehackny</a>
			</div>

			<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
			<script type="text/javascript">self.close();</script>
		</div>
	</body>
</html>