@import "bootstrap.less";
#reset > .global-reset();

body {
	background-image: url(../images/body-bg.png);
	color:#3d4348;
	text-align: center;
}

#logo {
	display: inline-block;
	position:relative;
	
	img {
		height: 300px;
	}
}

hr {
	height: 2px;
	margin: 20px 0 30px;
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	border: 0;
}

.content {
	h3 {
		#font > .sans-serif(300, 36px, 40px);
		color: #3d4348;
		text-shadow: #fff 0 1px 1px;
		padding: 0;
	}
	p {
		#font > .sans-serif(normal, 18px, 22px);
		color: #fff;
		padding: 0 0 10px;
	}

	.buttons {
		padding: 10px 0;
		
		p {
			#font > .sans-serif(normal, 16px, 20px);
			color: #fff;
			padding: 0 0 10px;
		}

		a {
			.button;
			font-size: 20px;
			padding: 10px 20px;
			margin: 0 10px;
			font-family:"Arial";
		}
	}
	
	.info {
		background:#3d4348;
		margin:20px 0;
		padding:20px 0;
		width:100%;
	}
	
	.info {
		p {
			padding-bottom: 10px;
		}
	}
	
	.info.as-seen-on {
		background:white;
		p {
			color:#3d4348;
		}
		.logos {
			img {
				max-width:150px;
			}
		}
	}

	.logos {
		padding: 20px 0 10px;
		margin: 0 auto;
		width: 820px;

		p {
			font-style: italic;
			padding-bottom: 25px;
		}

		img {
			padding: 0 10px 30px;
			max-width: 100px;
		}
	}
}

#footer {
	padding: 10px 0 0;
	color: #666;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.share {
	.clearfix;
	width: 355px;
	padding: 20px 0 0;
	margin: 0 auto;

	#fb-share, #tw-share {
		display: block;
		float: left;
		height: 75px;
		text-indent: -9999px;
		text-decoration: none;
	}
	#tw-share {
		background: url(/assets/images/tw_share.png) no-repeat 0 0;
		width: 161px;
		margin-right: 15px;
	}
	#fb-share {
		background: url(/assets/images/fb_share.png) no-repeat 0 0;
		width: 176px;
	}
}
